/* I didn't use any css framework or css preprocessor, hence the css looks a bit verbose.
* Using a css preprocessor or css framework is definitely recommended in real project. 
*/
.toggle {
  display: flex;
  margin: auto 2rem;
  align-items: center;
}

.toggle-name {
  margin-right: 1rem;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 54px;
  min-width: 54px;
  height: 28px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  border-radius: 3rem;
  background-color: #ccc;
  transition: 0.4s;
}

.toggle-slider:before {
  position: absolute;
  content: '';
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.4s;
}

input:checked + .toggle-slider {
  background-color: #1c9cf5;
}

input:checked + .toggle-slider:before {
  transform: translateX(26px);
}
