.container {
  max-width: 106rem;
  margin: 8rem auto;
  padding: 0 2rem;
}

.title {
  text-align: center;
  margin: 3rem;
  font-size: 3rem;
}

.container-race {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: min-content;
}

.container-toggle {
  display: flex;
  margin-bottom: 2rem;
}

.error {
  text-align: center;
}

@media screen and (max-width: 576px) {
  .container {
    margin: 4rem auto;
  }

  .container-toggle {
    flex-direction: column;
  }
}
